<h1>Bonjour,</h1>
<p>Vous avez créé un compte sur le site SnowTricks. Pour valider votre inscription, veuillez cliquer sur le lien suivant : <a href="{{ url('app_confirm_account', {id: id, token: token} ) }}">Confirmer mon compte !</a></p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>
<p>À bientôt sur SnowTricks !</p>
