<h1>Bonjour,</h1>
<p>Vous avez demandez la réinitialisation de votre mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url('app_reset_password', {id: id, token: token} ) }}">Modifier mon mot de passe</a></p>
<p>Attention le lien expire le {{ date|date('d/m/Y') }}.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>
<p>À bientôt sur SnowTricks !</p>
