{% extends 'base.html.twig' %}

{% block title %}Nouveau trick{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 text-4xl mb-6 mt-3 text-center font-bold">Nouveau trick</h1>

    <div class="w-1/2 border-solid border-2 rounded-md p-4">
        {{ form_start(form) }}
            {{ form_widget(form) }} 
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
